* {
    box-sizing: border-box;
    /*border: 1px solid black;*/
}
body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.grid {

}

.row {
    background-color: white;
}

.column {
    display: inline-block;
    max-width: 960px;
    margin: 5px auto;
}
#menurow {
    background-color: white;
    height: 30px;
}
#menucontainer {
    /*text-align: left;*/
    position: absolute;
    left: 2px;
    top: 0;
    margin-right: 0;
    margin-left: 0;
}
.menuitem {
    display: inline-block;
    /*border: 1px solid black;*/
    padding: 1px;
    /*text-align: left;*/
}

.box {
    /*margin-top: ;*/
    width: 15vw;
    height: 10vw;
    border: 1px solid grey;
}

.price {
    font-size: 80px;
}
.greytext {
    color: rgb(186, 185, 185);
}
.descriptivetext {
    height: auto;
    width: 21vw;
    text-align: left;
    border: 1px solid rgba(0,0,0,0);
    padding: 5px;
    margin-top: 10px;
}
#bannerimage {

}

#subheader1 {
    background-color: green;
}
#subheader2 {
    background-color: blue;
}
#subheader3 {
    background-color: black;
}
#subheader1, #subheader2, #subheader3 {
    color: white;
    font-size: 20px;
    padding: 20px;
}
#headertext {
    color: white;
    font-size: 60px;
    padding-top: 200px;
    /*margin-top: 200px;*/
}
.subcolumnsgrey {
    background-color: rgb(200, 200, 200);
    border: 1px solid grey;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#button {
    height: 60px;
}
#button>button {
    margin: 15px auto;
    width: 100px;
    height: 25px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0);
}
.headerimage {
    max-width: 100%;
    height: 620px;
    /*background-image: url(../img/background.jpg);*/
    /*background-color: rgba(0,0,0,0);*/
}
footer {
    background-color: black;
    height: 60px;
    width: 100%;
    padding: 20px;
}
footer>strong,footer>em {
    color: rgb(209, 209, 209);
}
